{# @var craft \craft\web\twig\variables\CraftVariable #}
<header>
    <div class="mb-8">
        <div class="bg-devmode-yellow text-devmode-pink inline-block p-4">
            <span class="font-mono italic text-bold text-4xl align-middle ">
                {{ showInfo.showTitle }}
            </span>
            <span class="text-devmode-pink font-mono italic text-md align-middle">
                {{ showInfo.showSubTitle }}
            </span>
        </div>
    </div>
    {#
     {% include "_partials/_navbar.twig" %}
   #}
</header>
