{# @var craft \craft\web\twig\variables\CraftVariable #}
<style>
    vue-typer {
        display: inline-block;
    }
    .vue-typer .custom.caret {
        width: 10px;
        background-color: #eb5286;
    }
    .vue-typer .custom.char {
        color: #eb5286;
    }
    .vue-typer .complete {
        display: inline-block;
    }
</style>
<header id="page-header" class="menuBlock">
    <div class="mb-8">
        <div class="flex">
            <div class="w-full md:w-5/6">
                <div class="w-full md:w-auto bg-devmode-yellow text-devmode-pink inline-block p-4">
                    <span class="">
                        <h3 class="inline-block">
                            <a href="/" class="navbar-link font-mono italic text-bold text-3xl sm:text-4xl align-middle" @mouseover="prerenderLink" rel="noopener">
                                {{ showInfo.showTitle }}
                            </a>
                        </h3>
                    </span>
                    <span class="hidden md:inline text-devmode-pink font-mono italic text-md align-middle pr-3">
                        <vue-typer text='// {{ showInfo.showSubTitle }}' :repeat='0' :pre-type-delay=3000 :erase-delay=70></vue-typer>
                    </span>
                    <div class="block md:hidden float-right">
                        <button @click.stop="toggle" aria-label="Menu" title="Menu">
                            <span class="text-devmode-pink font-mono italic text-bold text-4xl align-middle hamburger-menu">
                                <i class="icon-menu"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden md:block w-full md:w-1/6 text-right">
                <div class="inline-block bg-devmode-yellow inline-block p-4">
                    <button @click.stop="toggle" aria-label="Menu" title="Menu">
                        <span class="text-devmode-pink font-mono italic text-bold text-4xl align-middle hamburger-menu">
                            <i class="icon-menu"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div id="devmode-menu" class="hidden" v-bind:class="{ menuBlock: menuOpen }">
            {% include "_partials/_navbar.twig" %}
        </div>
    </div>
</header>
