{# @var craft \craft\web\twig\variables\CraftVariable #}
<header class="menuBlock">
    <div class="mb-8">
        <div class="flex">
            <div class="w-full md:w-5/6">
                <div class="w-full md:w-auto bg-devmode-yellow text-devmode-pink inline-block p-4">
                    <span class="">
                        <a href="/" class="navbar-link font-mono italic text-bold text-3xl sm:text-4xl align-middle" @mouseover="prerenderLink" rel="noopener">{{ showInfo.showTitle }}</a>
                    </span>
                    <span class="hidden md:inline text-devmode-pink font-mono italic text-md align-middle">
                        {{ showInfo.showSubTitle }}
                    </span>
                    <div class="block md:hidden float-right">
                        <button @click="toggle" aria-label="Menu" title="Menu">
                            <span class="text-devmode-pink font-mono italic text-bold text-4xl align-middle hamburger-menu">
                                <i class="icon-menu"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="hidden md:block w-full md:w-1/6 text-right">
                <div class="inline-block bg-devmode-yellow inline-block p-4">
                    <button @click="toggle" aria-label="Menu" title="Menu">
                        <span class="text-devmode-pink font-mono italic text-bold text-4xl align-middle hamburger-menu">
                            <i class="icon-menu"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div id="devmode-menu" class="hidden" v-bind:class="{ menuBlock: menuOpen }">
            {% include "_partials/_navbar.twig" %}
        </div>
    </div>
</header>
