<nav>
    <div class="bg-grey-dark">
        <div class="container mx-auto">
            <div class="flex flex-wrap items-center justify-center">
                <div class="w-full sm:w-full md:w-1/3 lg:w-1/6 xl:w-1/6 text-center px-4 py-4">
                    <a href="" class="navbar-link" rel="nofollow,noopener" target="_blank">
                        <i class="icon-note-beamed"></i> iTunes
                    </a>
                </div>
                <div class="w-full sm:w-full md:w-1/3 lg:w-1/6 xl:w-1/6 text-center px-4 py-4">
                    <a href="" class="navbar-link" rel="nofollow,noopener" target="_blank">
                        <i class="icon-rss"></i> Overcast
                    </a>
                </div>
                <div class="w-full sm:w-full md:w-1/3 lg:w-1/6 xl:w-1/6 text-center px-4 py-4">
                    <a href="" class="navbar-link" rel="nofollow,noopener" target="_blank">
                        <i class="icon-rss"></i> Stitcher
                    </a>
                </div>
                <div class="w-full sm:w-full md:w-1/3 lg:w-1/6 xl:w-1/6 text-center px-4 py-4">
                    <a href="" class="navbar-link" rel="nofollow,noopener" target="_blank">
                        <i class="icon-rss"></i> PocketCasts
                    </a>
                </div>
                <div class="w-full sm:w-full md:w-1/3 lg:w-1/6 xl:w-1/6 text-center px-4 py-4">
                    <a href="" class="navbar-link" rel="nofollow,noopener" target="_blank">
                        <i class="icon-play"></i> Google Play
                    </a>
                </div>
                <div class="w-full sm:w-full md:w-1/3 lg:w-1/6 xl:w-1/6 text-center px-4 py-4">
                    <a href="/rss" class="navbar-link" rel="nofollow,noopener" target="_blank">
                        <i class="icon-rss"></i> RSS Feed
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>