<nav>
    <div class="bg-green-darkest">
        <div class="h-12 flex items-center justify-center flex-no-wrap relative">
            <div class="w-full text-center">
                <div class="inline-block text-left p-8 m-4">
                    <p class="font-mono text-grey-lightest text-1xl">
                        navbar
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>