
{% macro displayCodeLines(lineStartNum, lineEndNum, codeLines) %}
    <div class="absolute pin-l">
        <div class="inline-block pl-2">
            <p class="font-mono text-left whitespace-no-wrap">
                {% for i in lineStartNum..lineEndNum %}
                    <span class="text-grey-darker pr-2 border-r-2 border-grey-darker border-solid">{% if i < 10 %}&nbsp;{% endif %}{{ i }}</span>
                    {% set line = "line" ~ i %}
                    {% if codeLines[line] is defined and codeLines[line] |length %}
                        {{ codeLines[line] }}
                    {% endif %}
                    <br />
                {% endfor %}
            </p>
        </div>
    </div>
{% endmacro displayCodeLines %}
