{# Display lines of code#}
{% macro displayCodeLines(lineStartNum, lineEndNum, codeLines) %}
    <div class="absolute pin-l">
        <div class="inline-block pl-2">
            <p class="font-mono text-left whitespace-no-wrap">
                {% for i in lineStartNum..lineEndNum %}
                    <span class="text-grey-darker pr-2 border-r-2 border-grey-darker border-solid">{% if i < 10 %}&nbsp;{% endif %}{{ i }}</span>
                    {% set line = "line" ~ i %}
                    {% if codeLines[line] is defined and codeLines[line] |length %}
                        {{ codeLines[line] }}
                    {% endif %}
                    <br />
                {% endfor %}
            </p>
        </div>
    </div>
{% endmacro displayCodeLines %}

{# Add a Person array from `users` to the `property` of `jsonLd` #}
{% macro addPersonArray(jsonLd, property, users) %}
    {% set usersArray = [] %}
    {% for user in users %}
        {% set usersArray = usersArray | merge([seomatic.jsonLd.create({
            'type': 'Person',
            'affiliation': user.profileCompany,
            'description': user.profileBio,
            'jobTitle': user.profileTitle,
            'familyName': user.lastName,
            'givenName': user.firstName,
            'name': user.fullName,
            'sameAs': [
                user.profileTwitterUrl,
                user.profileGithubUrl,
            ],
            'url': user.profileUrl,
        }, false)]) %}
    {% endfor %}
    {% do jsonLd.setAttributes({
        (property): usersArray
    }) %}
{% endmacro addPersonArray %}

{# Add a Thing array from `mentions` to the `property` of `jsonLd` #}
{% macro addMentionsArray(jsonLd, property, mentions) %}
    {% set mentionsArray = [] %}
    {% for mention in mentions %}
        {% set mentionsArray = mentionsArray | merge([seomatic.jsonLd.create({
            'type': 'Thing',
            'name': mention.linkName,
            'url': mention.linkUrl,
        }, false)]) %}
    {% endfor %}
    {% do jsonLd.setAttributes({
        (property): mentionsArray
    }) %}
{% endmacro addMentionsArray %}
