<div class="w-full mb-8 max-w-4xl mx-auto">
    <div class="w-full devmode-container">
        <div class="p-8">
            <div class="flex flex-wrap items-center justify-center flex-row-reverse md:flex-row flex-col-reverse">
                {# -- Episode title -- #}
                <div class=" w-full md:w-2/3 text-left py-2">
                    <h2 class="font-mono italic text-devmode-pink font-bold text-3xl">
                        {{ episode.title | typogrify(true) }}
                    </h2>
                </div>
                {# -- Episode number and date -- #}
                <div class="w-full md:w-1/3 text-devmode-pink font-mono text-xs text-left md:text-right uppercase py-2">
                    {{ "Episode " ~ episode.episodeNumber }} / {{ episode.postDate | date("Y.m.d") }}
                </div>
            </div>
            {# -- Episode summary -- #}
            <div class="text-devmode-pink font-sans text-xl py-2 leading-normal">
                {% if episode.episodeSummary | length %}
                    {{ episode.episodeSummary | truncateOnWord(400) | typogrify }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
