{% extends "_layouts/player-page-layout.twig" %}

{% set includeAudioMeta = false %}

{% if entry is not defined %}
    {% set entrySlug = craft.app.request.getSegment(2) %}
    {% set entry = craft.entries({
        "section": "episodes",
        "slug": entrySlug,
    }).one() %}
{% endif %}

{% block content %}
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_display_player.twig" with {
                    "episode": entry,
                    "showInfo": showInfo,
                    "includeAudioMeta": includeAudioMeta,
                    "autoPlay": true,
                } only %}
            </div>
        </div>
    </section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ craft.vite.script("src/js/modules/player.js") }}
{% endblock bodyJs %}
