/**
 * components/tables.css
 *
 * Project Tables.
 *
 */

table.vuetable {
  width: 100%;
  padding: 0;
}

table.vuetable thead {
  display: none;
}

/**
 * Column alignment
 */
td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.vuetable-empty-result {
  color: white;
}

/**
 * Misc
 */

.btn {
  height: 32px;
  display: inline-block;
  border-radius: 250px;
  margin-right: 4px;
  color: #eb5286;
  padding: 6px 12px;
  border: none;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btn:not(.submit) {
  color: #eb5286;
  background-image: none;
}

.btn:not(.submit):active, .btn:not(.submit).active {
  background-color: #f2d024;
  background-image: none;
}

.btn:hover {
  text-decoration: none;
}

.disabled {
  opacity: 0.25;
}

.disabled, .disabled .btn {
  cursor: default;
}
