/**
 * components/tables.css
 *
 * Project Tables.
 *
 */

table.vuetable {
  width: 100%;
  padding: 0;
}

.webperf-menubtn-asc::after {
  content: 'downangle';
}

.webperf-menubtn-desc::after {
  content: 'upangle';
}

/**
 * Dashboard chart
 */

table.webperf-pages-index th.pageListingDisplay {
}

th.loadTimeBar {
}

th.vuetable-th-craftDbCnt {
  text-align: right!important;
}

th.vuetable-th-craftTwigCnt {
  text-align: right!important;
}

th.vuetable-th-craftOtherCnt {
  text-align: right!important;
}

th.vuetable-th-craftTotalMemory {
  text-align: right!important;
}

th.vuetable-th-slot-data-samples {
  text-align: center!important;
}

th.vuetable-th-device {
  text-align: left!important;
}

th.vuetable-th-os {
  text-align: left!important;
}

th.vuetable-th-browser {
  text-align: left!important;
}

th.vuetable-th-countryCode {
  text-align: left!important;
}

th.vuetable-th-slot-total-errors {
  text-align: right!important;
}

th.vuetable-th-slot-craft-errors {
  text-align: right!important;
}

th.vuetable-th-slot-boomerang-errors {
  text-align: right!important;
}

table.webperf-pages-index tbody.vuetable-body tr:hover {
  background-color: #DCEEFE;
  cursor: pointer;
}

table.webperf-pages-index td:first-child {
  padding-left: 10px;
}

table.webperf-pages-index td:last-child {
  padding-right: 10px;
}

table.webperf-pages-index th:first-child {
  padding-left: 10px;
}

table.webperf-pages-index th:last-child {
  padding-right: 10px;
}

/**
 * Column alignment
 */
td.text-center {
  text-align: center!important;
}

td.text-right {
  text-align: right!important;
}

/**
 * Misc
 */

.single-line-truncate-wrapper {
  height: 20px;
}

.single-line-truncate {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
