<section>
    <div class="devmode-aqua-background">
        <div class="pt-8">
            <div class="w-full bg-transparent">
                <div class="pt-8 mb-8">
                    <h3 class="devmode-header-text text-center text-xl font-bold">
                        Recent Episodes
                    </h3>
                </div>
            </div>
        </div>
        {% for episode in craft.entries.section("episodes").limit(null).all() %}
            <div class="container mx-auto py-8">
                <div class="flex flex-wrap {% if loop.last %} pb-8{% endif %}">
                    {% include "episodes/_partials/_amp_display_episode_excerpt.twig" with {
                        "episode": episode,
                        "showInfo": showInfo,
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
