<section>
    <div class="devmode-aqua-background pb-8">
        <div class="pt-8">
            <div class="w-full bg-transparent">
                <div class="pt-8 mb-8">
                    <h3 class="devmode-header-text text-center text-xl font-bold">
                        Recent Episodes
                    </h3>
                </div>
            </div>
        </div>
        <div id="episodes-table">
            <episodes-table>
            </episodes-table>
        </div>
    </div>
</section>
