<div class="p-8 my-8 w-full bg-gray-100 rounded-full">
    <div class="w-full mx-auto">
        {# -- Audio player -- #}
        {% set transAudioUrl = craft.transcoder.getAudioUrl(episode.episodeMedia.one(), {
            "audioBitRate": "64k",
            "audioSampleRate": 22050,
            "audioChannels": 1
        }) %}
        {% if transAudioUrl |length %}
            {% if not craft.app.config.general.devMode %}
                {% set transAudioUrl = transAudioUrl | replace('/^(http|https):/', '') %}
                {% set transAudioUrl = transAudioUrl | replace('//', '') %}
                {% set transAudioUrl = "https://dts.podtrac.com/redirect.mp3/#{transAudioUrl}" %}
            {% endif %}
            {% set fileInfo = craft.transcoder.getFileInfo(episode.episodeMedia.one(), true) %}
            {% if includeAudioMeta is defined and includeAudioMeta %}
                {% include "episodes/_partials/_meta-episode-custom.twig" with {
                    "episode": episode,
                    "fileInfo": fileInfo,
                    "showInfo": showInfo,
                    "audioUrl": transAudioUrl,
                } only %}
            {% endif %}
            {% set autoPlay = autoPlay ?? false %}
            <div id="amplitude-player">
                <amplitude-player
                        title="{{ episode.title }}"
                        artist="{{ showInfo.showTitle }}"
                        url="{{ transAudioUrl }}"
                        {% if autoPlay %}
                            auto-play
                        {% else %}
                            :auto-play="false"
                        {% endif %}
                >
                </amplitude-player>
            </div>
        {% endif %}
        {{ craft.twigpack.includeJsModule("player.js", true) }}
    </div>
</div>
