{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_amp_layout.twig" %}

{% if entry is not defined %}
    {% set entrySlug = craft.app.request.getSegment(2) %}
    {% set entry = craft.entries({
        "section": "episodes",
        "slug": entrySlug,
    }).one() %}
{% endif %}

{% block _inline_css %}
    {{ source ("episodes/_amp_entry_critical.min.css", ignore_missing = true) }}
{% endblock %}

{% do seomatic.helper.loadMetadataForUri(entry.uri) %}
{% do seomatic.script.container().include(false) %}

{% block content %}
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_amp_display_episode.twig" with {
                    "episode": entry,
                    "showInfo": showInfo,
                } only %}
            </div>
        </div>
    </section>

{% endblock %}

{% block subcontent %}
    
    {% include "episodes/_partials/_amp_display_recent_episodes.twig" with {
        "showInfo": showInfo,
    } only %}
{% endblock %}

{% block _inline_js %}
{% endblock %}
