
{% extends "_layouts/generic-page-layout.twig" %}

{% set includeAudioMeta = true %}

{% block headLinks %}
    <link rel="amphtml" href="{{ siteUrl(craft.app.request.pathInfo ~ '/amp') }}">
{% endblock headLinks %}

{% block content %}
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_display_episode.twig" with {
                    "episode": entry,
                    "showInfo": showInfo,
                    "includeAudioMeta": includeAudioMeta,
                } only %}
            </div>
        </div>
    </section>

{% endblock %}

{% block subcontent %}
    <section>
        <div class="devmode-container">
            <div class="container mx-auto p-4 my-8">
                <a name="comments"></a>
                {% if not craft.app.request.isLivePreview and entry.status == "live" %}
                    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
                {% endif %}
            </div>
        </div>
    </section>

    {% include "episodes/_partials/_display_recent_episodes.twig" with {
        "showInfo": showInfo,
    } only %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ craft.twigpack.includeJsModule("player.js", true) }}
    {{ craft.twigpack.includeJsModule("episodes.js", true) }}
{% endblock bodyJs %}
