{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/_layout.twig" %}

{% block _head_links %}
    <link rel="amphtml" href="{{ siteUrl(craft.app.request.pathInfo ~ '/amp') }}">
{% endblock %}

{% block _inline_css %}
    <style>
        {{ source ("episodes/_entry_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% do seomatic.meta.seoDescription(entry.episodeSummary) %}

{% block content %}
    
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_display_episode.twig" with {
                    "episode": entry,
                    "showInfo": showInfo,
                } only %}
            </div>
        </div>
    </section>

{% endblock %}

{% block subcontent %}
    <section>
        <div class="bg-grey-whitest">
            <div class="container mx-auto p-4 my-8">
                <a name="comments"></a>
                {% if not craft.app.request.isLivePreview and entry.status == "live" %}
                    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
                {% endif %}
            </div>
        </div>
    </section>
    
    {% include "episodes/_partials/_display_recent_episodes.twig" with {
        "showInfo": showInfo,
    } only %}
{% endblock %}

{% block _inline_js %}
{% endblock %}
