{# -- Layout template for HTML pages -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                 content                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  bodyHtml                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}
    <div id="page-container" class="overflow-hidden leading-tight">
        <div id="content-container" class="bg-repeat header-background" style="background-image: url('{{ backgroundUrl }}');">
            <main>
                <div class="container mx-auto pb-8">
                    {# -- Primary content block -- #}
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>
{% endblock bodyHtml %}
