{# @var craft \craft\web\twig\variables\CraftVariable #}
{% set entry = craft.entries.section("notFound").limit(1).one() %}

{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
    <style>
        {{ source ("404_critical.min.css", ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}
    
    <section>
        <div class="text-center p-8 mb-8">
            <h1 class="text-devmode-pink font-mono italic text-bold text-5xl pt-4">
                {{ entry.errorHeadline }}
            </h1>
            <p class="text-devmode-pink font-sans text-xl pt-4">
                {{ entry.errorText |nl2br }}
            </p>
        </div>
    </section>

{% endblock %}

{% block subcontent %}
    <section>
        <div class="bg-devmode-aqua">
            {% for episode in craft.entries.section("episodes").limit(5).all() %}
                <div class="container mx-auto py-8">
                    <div class="flex flex-wrap">
                        {% include "episodes/_partials/_display_episode_excerpt.twig" with {
                            "episode": episode,
                            "showInfo": showInfo,
                        } only %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block _inline_js %}
{% endblock %}
