
{% extends "_layouts/amp-generic-page-layout.twig" %}

{% if entry is not defined %}
    {% set entrySlug = craft.app.request.getSegment(2) %}
    {% set entry = craft.entries({
        "section": "episodes",
        "slug": entrySlug,
    }).one() %}
{% endif %}

{% do seomatic.helper.loadMetadataForUri(entry.uri) %}
{% do seomatic.script.container().include(false) %}

{% block content %}
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_amp_display_episode.twig" with {
                    "episode": entry,
                    "showInfo": showInfo,
                } only %}
            </div>
        </div>
    </section>
    {# -- Webmentions facepile -- #}
    <section>
        <div class="my-8 w-full">
            <div class="w-full max-w-4xl mx-auto">
                {% include "_partials/amp-webmentions-facepile.twig" with {
                    "entry": entry,
                } only %}
            </div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}

    {% include "episodes/_partials/_amp_display_recent_episodes.twig" with {
        "showInfo": showInfo,
    } only %}
{% endblock %}

{% block bodyJs %}
{% endblock bodyJs %}
