{# -- Base HTML layout template that all web requests inherit from -- #}
{% extends craft.app.request.isAjax() and not craft.app.request.isLivePreview()
    ? "_layouts/base/base-ajax-layout.twig"
    : "_layouts/base/base-web-layout.twig"
%}

{% block htmlPage %}
    {{ parent() }}
    <html ⚡ lang="{{ craft.app.language |slice(0,2) }}" class="fonts-loaded">
    </html>
{% endblock htmlPage %}

{# -- Page content that should be included in the <head> -- #}
{% block headContent %}
    <script async custom-element="amp-analytics"
            src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    
    {# -- Any <meta> tags that should be included in the <head> #}
    {% block headMeta %}
    {% endblock headMeta %}
    
    {# -- Any <link> tags that should be included in the <head> #}
    {% block headLinks %}
    {% endblock headLinks %}
    
    {# -- Inline and critical CSS #}
    
    {# -- Any CSS that should be included before </head> -- #}
    {% block headCss %}
    {% endblock headCss %}
    
    {# -- Any JavaScript that should be included before </head> -- #}
    {% block headJs %}
    {% endblock headJs %}
{% endblock headContent %}

{# -- Page content that should be included in the <body> -- #}
{% block bodyContent %}
    {# -- Page content that should be included in the <body> -- #}
    {% block body %}
    {% endblock body %}
    
    {# -- Any JavaScript that should be included before </body> -- #}
    {% block bodyJs %}
    {% endblock bodyJs %}
{% endblock bodyContent %}
