{# -- Base web layout template that all web requests inherit from -- #}
{% extends "_layouts/global-variables.twig" %}

{% block htmlPage %}
<!DOCTYPE html>
    {% block headTag %}
        <head>
            {% include "_partials/head-meta.twig" %}
            {# -- Page content that should be included in the <head> -- #}
            {% block headContent %}
            {% endblock headContent %}
        </head>
    {% endblock headTag %}
    
    {% block bodyTag %}
        <body>
        {# -- Page content that should be included in the <body> -- #}
        {% block bodyContent %}
        {% endblock bodyContent %}
        </body>
    {% endblock bodyTag %}
{% endblock htmlPage %}
